@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(78, 8, 110, 1) 100%
  );
}

.title {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 3em;
  color: white;
}

.todo-header {
  height: 180px;
  text-align: center;
}

.todo-input {
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
  border: none;
  border-radius: 2px;
  margin: 0 10px 0 10px;
  color: white;
}

.todo-item {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  padding: 10px;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  display: flex;
}

.todo-item div {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-decoration {
  text-decoration: line-through;
}

.todo-items-container {
  width: 500px;
  margin: auto;
}

button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  height: 30px;
  width: 120px;
  color: white;
}

.todo-item button:last-of-type {
  margin-left: auto;
}
