@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.container {
  width: 100%;
  height: 100vh;
  padding-bottom: 20px;
  background: #ff009f;
  background: linear-gradient(
    180deg,
    rgba(36,0,35,1) 0%,
    rgba(255,0,159,0.9) 100%
  );
}

.title {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 3em;
  color: #ff009f;
}

.todo-header {
  height: 180px;
  text-align: center;
}

.todo-input {
  width: 50vw;
  background-color: rgba(255, 255, 255, 255.25);
  padding: 10px;
  border: none;
  border-radius: 2px;
  margin: 0 10px 0 10px;
  color: #ff009f;
}
.todo-input:focus{
  box-shadow: 0 0 0 2px #ff009f;
  border: none;
  outline: none;
}

.todo-item {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  padding: 10px;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  display: flex;
}



.todo-item div {
  width: 60%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: auto;
}

.item-decoration {
  text-decoration: line-through;
}

.todo-items-container {
  width: 500px;
  margin: auto;
}

button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  height: 30px;
  width: 120px;
  color: white;
}
button:focus{
  box-shadow: 0 0 0 2px #ff009f;
  border: none;
  outline: none;
}
.todo-item button:last-of-type {
  margin-left: auto;
  display: block;
  margin: auto;
}

@media (max-width: 600px){
  .todo-items-container {
    width: 90%;
    margin: auto;
  }
  .todo-item button:last-of-type{
    width: 30%;
  }
}